@model DMP.Models.ChangePasswordModel
@using DMP.Utils
<div class="row-fluid">
    <div class="span4 offset4">
        @using (Ajax.BeginForm(new AjaxOptions { OnComplete = "closePopUp()" })) {
            <div class="panel">
                <div>@Html.LabelFor(x => x.OldPassword)
                    @Html.EditorFor(x => x.OldPassword)
                </div>
                <div>@Html.LabelFor(x => x.NewPassword)
                    @Html.EditorFor(x => x.NewPassword)
                </div>
                <div>@Html.LabelFor(x => x.ConfirmPassword)
                    @Html.EditorFor(x => x.ConfirmPassword)
                </div>
                <div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
