@model DMP.Models.ResetPasswordModel
@using DMP.Utils
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<div>
    @using (Ajax.BeginForm(new AjaxOptions { OnComplete = "closePopUp()" })) {
        <div style="width: 100%">
            @Html.HiddenFor(x => x.Id)
            <div>@Html.LabelFor(x => x.Password)
                @Html.EditorFor(x => x.Password)
            </div>
            <div>@Html.LabelFor(x => x.ConfirmPassword)
                @Html.EditorFor(x => x.ConfirmPassword)
            </div>
            <div>
                <input type="submit" value="Save" style="display: inline-block" class="radius button" />
            </div>
        </div>
    }
</div>
