@model DMP.Models.ChangePasswordModel
@{
    ViewBag.Title = "Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<div class="row-fluid">
    <div class="span4 offset4">
        @using (Html.BeginForm("Credential", "Account", FormMethod.Post, new { id = "passwordForm" })) {
            <legend>Change Credential</legend>
            @Html.ValidationSummary()
            <div>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            <div>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @id = "txtPwd" })
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "txtCnfPwd" })
            </div>
            <div>
                <input type="submit" value="Change Password" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-primary" />
                @if (ViewBag.Success != null && ViewBag.Success) {
                    <span style="color: Green">Password changed successfully!</span>
                }
            </div>
        }
    </div>
</div>
